/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');*/
* {
  margin: 0;
  padding: 0;
  /*font-family: 'Poppins', sans-serif;*/
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.body{
  min-height: 100vh;
}



.name {
  min-height: 80vh;
  margin-left: 15vw;
  margin-top: 35vh;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.colored-name {
  color: #039be5;
}

.designation{
  display: block;
  padding-top: 0.4vh;
}

.button {
  padding: 0.5vh 1.5vw;
  border: 0.2rem solid #039be5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 2vw 0.2vh;
  color: black;
  background-color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #039be5;
  color: white;
}

.about-section {
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(3, 155, 229),
    rgb(149, 200, 226)
  );
  background-color: #039be5;


  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
.about {
  text-align: center;
  padding-top: 13vh;
  font-size: 2rem;
}

.container {
  display: flex;
}

.container img {
  max-width: 100%;
  max-height: 40vh;
  margin-left: 10vw;
  margin-top: 10vh;
}
.intro-container {
  font-size: 30px;
  text-align: justify;
  padding-top: 10vh;
  margin-left: 15vw;
  margin-right: 5vw;
  padding-bottom: 20vh;
}
.line2{
  border-top: 1vh solid #039be5;
  margin: 10vh auto;
  width: 50%;
}

.projects{
  color: #039be5;
  font-size: 65px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.project-section{
  min-height: 120vh;
  padding-top: 15vh;
}

.projects-container img{
  width: 450px;
  
  height: 250px;
  margin-left: 15vw;
  margin-top: 10vh;
  margin-right: 5vw;
}

.projects{
  text-align: center;
}

.project-title{
  text-transform: uppercase;
}



.projects-container{
  display: flex;
}

.project-details{

  padding-top: 10vh;
  margin-left: 10vw;
  padding-bottom: 13vh;
}

.project-details .project-title{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.project-details .project-description{
  font-size: 15px;
  font-weight: light;
  font-size: 15px;
  padding-top: 8vh;
}

.buttons{
  position: static;
  padding-top: 6vh;
}



.button2{
  padding: 1.5vh 1.8vw;
  margin-left: 3vw;
  background-color: #039be5;
  border: none;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s;
}

.button2:hover{
  border: 0.15rem solid #039be5;
  background: white;
  color: black;
}

/*Contact Section*/
.contact-section{
  margin-top: 9vh;
  text-align: center;

  min-height: 50vh;
  color: white;
  background-image: linear-gradient(
    to left,
    rgba(3, 155, 229),
    rgb(149, 200, 226)
  );
  background-color: #039be5;
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  
}

.contact-section .section{
  padding-top: 15vh;
  text-transform: uppercase
}

.contact-section #contact{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.section2{
  padding-top: 8vh;
}
#contact-action{
  font-size: 1.4rem;
  font-weight: lighter;
}

.button3{
  margin-top: 5vh;
  padding: 2vh 3vw;
  border: 0.2rem solid white;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #039be5;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer{
  
  text-align: center;
  
  background-color: #424242;
  width: 100%;
  min-height: 30vh;
  
}
.footer #icon{
  color: white;
  margin-top: 10vh;
  align-items: center;
}
.socialIcons{
  color: white;
  margin-top: 10vh;
  padding: auto 15vh;
  font-size: 3rem;
}

.socialIcons i{
  
  margin-right: 4rem;
}
.line{
  border-top: 0.2rem solid white;
  margin: 4vw auto;
  width: 50%; 
}

.template{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.template h4{

  font-size: 1.3rem;
  margin-left: 1vw;
}
.template i{
  font-size: 1rem;
}
.template p{
  font-size: 1.2rem;
  margin-left: 5vw;
}

.template-buttons{
  align-content: center;
}
.fork{
  display: inline-flex;
  margin: 8vh auto;
  padding: 2vh 2.5vw;
  font-size: 1.5rem;
  margin-right: 2.5vw;
  position: relative;
}

.fork i{
  margin-right: 4.1vw;
}

.fork h5{
  margin-left: 1.5vw;
  font-weight: normal;
  font-size: 1.1rem;
}


.fork::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgb(158, 147, 147);
}



@media only screen and (max-width: 900px) {
  /*Chnages for the small screen */

  body{
    overflow-x: hidden;
  }
  .main-container {
    font-size: 16px;
    width: 100%;
  }
  /*Adject the height of name div for small screen*/
  .name {
    height: 250px;
  }
  
  .container {
    display: block;
    text-align: center;
  }
  .container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .intro-container {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-section{
    width: 100%;
  }
  .projects-container {
    display: block;
    text-align: center;
    width: 100%;
  }
  .projects-container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .project-details {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-details #project-title{
    text-align: center;
  }
  .project-details #project-description{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .socialIcons{
    
    text-align: center;
    color: white;
    margin: 1.5vh 3vw;
    padding:  auto auto;
    font-size: 3rem;
  }

  .fork h5{
    text-align: right;
    font-weight: normal;
    font-size: 1rem;
  }
  
  .fork::before {
    left: 40%;
  }


}


/*Nav Bar CSS*/
/*
@media only screen and (max-width: 900px) {

header .btn{
  display:block;
}
header .menu{
  position: fixed;
  flex-direction: column;
  background: #424242;
  top: 0;
  min-width: 45vw;
  height: 100%;
  right: 0;
  align-items: center;
}

header .menu .close-btn{
  position: absolute;
  top: 0;
  left: 0;
  margin: 2vw;
}

header .menu a{
  display: block;
  margin: 0 auto;
  padding: 5vh 0;
  font-size: 20px;
  transition: 0.3s;
}
header .menu a:hover{
  padding: 3vh 20vh;
}
}
*/